<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @nb_user.email %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @nb_user.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @nb_user.firstname %>
</p>

<p>
  <strong>Emailoptin:</strong>
  <%= @nb_user.emailoptin %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @nb_user.updatedat %>
</p>
<p>
 <%=@user.inspect%>
</p>
<%= link_to 'Edit', edit_nb_user_path(@nb_user) %> |
<%= link_to 'Back', nb_users_path %>
